.location {
  align-items: center;
  display: flex;

  &__city {
    font-size: 14px;
    margin-left: 8px;
    font-style: normal;
  }
}

@media screen and (max-width: 401px) {
  .location {
    margin-left: auto;
  }
}