@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("Roboto.woff") format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("Robotobold.woff");
}

@font-face {
  font-family: 'Roboto Light';
  src: local('Myriad Pro Bold'), url("Robotolight.woff");
}