body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("fonts/Robotobold.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("fonts/Robotolight.woff");
  font-weight: 100;
  font-style: normal;
}



@media screen and (max-width: 401px) {
  .left-line {
    display: none !important;
  }
}